<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <TITLE>HBNB</TITLE>
  </HEAD>

  <BODY>
    {% for state in states.values()|sort(attribute="name") %}
    {% if id == state.id %}
    <H1>States: {{state.name}}</H1>
    <H3>Cities:</H3>
    <UL>
     
      <LI>{{ state.id }}: <B>{{ state.name }}</B>
       <UL>
            {% for city in states.cities|sort(attribute="name") %}
             <LI>{{ city.id}}: <B>{{city.name}}</B></LI>
            {% endfor %}
       </UL>
     </LI>
     </UL>
     {% else%}
      <H1>404</H1>
     {% endif %}
    {% endfor %}
    
  </BODY>
</HTML>
